@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  font-size: 16px;
}
body {
  background-color: #f0f5fa;
  color: #141e28;
  font-family: "Heebo", "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothicUI, "Yu Gothic UI", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.material-icons-outlined {
  font-family: "Material Icons";
}
/* ヘッダー */
header {
  width: 100%;
  height: 4.1rem;
  background: #dce6f0;
}
#headContent {
  width: clamp(420px, 95%, 1000px);
  height: 100%;
  margin: auto auto;
}
#navigation {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}
#navigation>#menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 95%;
  width: 50%;
}
@media (max-width: 730px) {
  #navigation>a>img {
    width: 2.5rem;
  }
  #navigation a {
    color: #000000;
    text-decoration: none;
  }
  #navigation>#menu>a:hover {
    background-color: #425970;
    color: #141e64;
  }
  #navigation>#menu>a {
    padding: 1.1em;
  }
  #menu {
    display: none !important;
  }
  .menuCheck {
    display: none;
  }
  #HamburgMenuList {
    display: none;
  }
  .menuCheck:checked ~ #HamburgMenuList {
    position: absolute;
    right: 0px;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    line-height: 150%;
    top: 1rem;
    background-color: #d2dce6;
    animation: 100ms fadeIn;
    z-index: 9999;
    border-radius: 5px;
  }
@-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@-o-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
}
@media screen and (min-width: 720px) {
  #navigation>#menu>a:hover {
    background-color: #f2f6fa;
    color: #141e64;
  }
  #navigation>#menu>a {
    padding: 0.9em;
  }
  #navigation>a>img {
    width: 2rem;
  }
  #navigation a {
    color: #141e28;
    text-decoration: none;
  }
  #HamburgMenu {
    display: none;
  }